.header{
    display: flex;
    /* font-size: medium; */
}
.html-logo{
    display: flex;
    align-items: center;
    background-color: aqua;
}

}
.header-text{
    display: flex;
    align-items: flex-end;
    font-size: large;
}
.header div:last-child{
    margin-left: auto;
    background: chartreuse;
}