
.main-container{
max-width: 400px;
margin: auto;

}

.header{
    display: flex;
    padding: 0 3px;
}
.html-logo{
    display: flex;
    align-items: center;
     font-size: 2em;
    padding-right: 0.5em;
}

.header-text{
    display: flex;
    font-size: medium;
}
.header div:last-child{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.responsive{
    display: flex;
    align-items: center;
width: 100%;
max-width: 400px;
height: auto;
margin: 0 auto;
}

.icons{
    display: flex;
}
i{
    margin:3px  ;
    padding: 0 3px;
}

.fa-bookmark{
    margin-left: auto;
}

.far{
    font-size: 2em;
}
p{
      text-align: justify;
     text-justify: inter-word;
     padding-right: 0.5em;
}

*{
    font-family: "Lato";
}
